{% extends 'base.html' %}   

{% block tittle %}  Error 404 page not found {% endblock tittle %}

{% block activePage %}active-item{% endblock activePage %}

{% block css %}

{% endblock css %}

{% load static %}

{% block body %}
<!--  Page Content, class footer-fixed if footer is fixed  -->
<div id="page-content" class="header-static">
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap small">
        <ul class="slides">
            <li style="background-image:url({% static 'assets/img/404.jpg' %})">
                <div class="container text text-center">
                    <h1 class="white margin-bottom-small">404</h1>
                    <p class="heading white margin-bottom">The page has been removed or the link you folowed probabably broken</p>
                    <a href="/" class="btn-alt small margin-null">Return Home</a>
                </div>
                <div class="gradient dark"></div>
            </li>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Error 404</li>
            </ol>
        </ul>
    </div>
    <!--  END Slider  -->
</div>
<!--  END Page Content, class footer-fixed if footer is fixed  -->

{% endblock body %}