{% extends 'base.html' %}

{% block title %}Gallery{% endblock title %}

{% block activeGallery %}active-item{% endblock activeGallery %}

{% load static %}

{% block body %}

 <!--  Page Content, class footer-fixed if footer is fixed  -->
 <div id="page-content" class="header-static footer-fixed">
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap small">
        <ul class="slides">
            <li style="background-image:url({% static 'assets/img/trip9.jpg' %})">
                <div class="container text text-center">
                    <h1 class="white margin-bottom-small">Gallery</h1>
                    <p class="heading white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde veniam aperiam rerum quis atque, illum.</p>
                </div>
                <div class="gradient dark"></div>
            </li>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Gallery</li>
            </ol>
        </ul>
    </div>
    <!--  END Slider  -->
    <div id="page-wrap" class="content-section fullpage-wrap" style="margin-top:3.5rem">
        <!--  Gallery Section  -->
        <section id="gallery" data-isotope="load-simple">
            <div class="masonry-items equal four-columns">
                <!--  Lightbox trek -->
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip1.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip1.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <!--  END Lightbox trek -->
                <!--  Page Trek  -->
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip2.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-distance"></i>
                        <a href="single-trek.html" class="link"></a>
                    </div>
                </div>
                <!--  END Page Trek  -->
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip3.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip3.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip4.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-distance"></i>
                        <a href="single-trek-2.html" class="link"></a>
                    </div>
                </div>
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip5.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip5.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip6.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip6.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip7.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-distance"></i>
                        <a href="single-trek-2.html" class="link"></a>
                    </div>
                </div>
                <div class="one-item">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip8.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip8.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Gallery Section  -->
        <section id="masonry-filters" class="text">
            <!--  Filters  -->
            <div class="row margin-null">
                <div class="col-sm-12 padding-leftright-null text-center">
                    <ul class="col-md-12 filters padding-leftright-null">
                        <li data-filter="*" class="is-checked">All</li>
                        <li data-filter=".nature">Nature</li>
                        <li data-filter=".adventure">Adventure</li>
                        <li data-filter=".lake">Lake</li>
                        <li data-filter=".mountain">Mountain</li>
                    </ul>
                </div>
            </div>
            <!--  END Filters  -->
        </section>
        <!--  Gallery Section  -->
        <section id="gallery" data-isotope="load-simple" >
            <div class="masonry-items equal three-columns">
                <!--  Lightbox trek -->
                <div class="one-item mountain adventure">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip1.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip1.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <!--  END Lightbox trek -->
                <!--  Page Trek  -->
                <div class="one-item mountain nature">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip2.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-distance"></i>
                        <a href="single-trek.html" class="link"></a>
                    </div>
                </div>
                <!--  END Page Trek  -->
                <div class="one-item nature">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip3.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip3.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <div class="one-item nature adventure">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip4.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-distance"></i>
                        <a href="single-trek-2.html" class="link"></a>
                    </div>
                </div>
                <div class="one-item adventure">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip5.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip5.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
                <div class="one-item lake nature">
                    <div class="image-bg" style="background-image:url({% static 'assets/img/trip6.jpg' %})"></div>
                    <div class="content figure">
                        <i class="pd-icon-camera"></i>
                        <a href="{% static 'assets/img/trip6.jpg' %}" class="link lightbox"></a>
                    </div>
                </div>
            </div>
        </section>
        <!--  END Gallery Section  -->
    </div>
</div>
<!--  END Page Content, class footer-fixed if footer is fixed  -->

{% endblock body %}