{% extends 'base.html' %}

{% block title %}Advance gallery filter by rising adventure{% endblock title %}

{% block activeGallery %}active-item{% endblock activeGallery %}

{% load static %}

{% block body %}

 <!--  Page Content, class footer-fixed if footer is fixed  -->
 <div id="page-content" class="header-static footer-fixed">
    <!--  Slider  -->
    <div id="flexslider" class="fullpage-wrap small">
        <ul class="slides">
            <li style="background-image:url({% static 'assets/img/trip3.jpg' %})">
                <div class="container text text-center">
                    <h1 class="white margin-bottom-small">My Trip</h1>
                    <p class="heading white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde veniam aperiam rerum quis atque, illum.</p>
                </div>
                <div class="gradient dark"></div>
            </li>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Single Project 1</li>
            </ol>
        </ul>
    </div>
    <!--  END Slider  -->
    <div id="post-wrap" class="content-section fullpage-wrap">
        <!-- Section same Height. Child get the parent Height. Set the same id -->
        <div class="row margin-leftright-null">
            <div class="container">
                <div class="col-md-6 padding-leftright-null">
                    <div data-responsive="parent-height" data-responsive-id="project">
                        <div class="col-md-12 text">
                            <h2 class="margin-bottom-null title simple left">Project description</h2>
                            <p class="heading center grey margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            <div class="padding-onlytop-md">
                                <!--  Project Meta  -->
                                <div class="gallery-meta">
                                    <div class="col-md-8 padding-leftright-null">
                                        <span class="info"><em>Location</em> Cortina</span>
                                        <span class="info"><em>Year</em> 2017</span>
                                        <ul class="tags">
                                            <li><a href="#">landscape</a></li>
                                            <li><a href="#">nature</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 padding-leftright-null">
                                        <span class="like"><a href="#">22<i class="icon ion-android-favorite-outline"></i></a></span>
                                    </div>
                                </div>
                                <!--  END Project Meta  -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-leftright-null">
                    <div data-responsive="child-height" data-responsive-id="project" class="height-auto-lg">
                        <!-- Project Description -->
                        <div class="col-md-12 padding-lg-top-null text">
                            <p class="padding-onlytop-md padding-lg-top-null margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero architecto, nesciunt, modi nam reprehenderit eligendi impedit perferendis consequuntur doloribus aliquid officiis ipsa id asperiores eius magnam ut ducimus ipsum dolor nihil molestias commodi quasi sapiente qui explicabo. Soluta, eum, quia.</p>
                        </div>
                        <!-- END Project Description -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Section same Height. Child get the parent Height. Set the same id -->
        <!-- Project Slider -->
        <div class="row margin-leftright-null">
            <div class="col-md-12 padding-md post-gallery padding-md-topbottom-null">
                <div class="item">
                    <img class="img-responsive" src="{% static 'assets/img/trip6.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'assets/img/trip7.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'assets/img/trip10.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'assets/img/trip9.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <!-- Project Slider -->
        <!--  Share Btn  -->
        <div id="share">
            <a class="share-btn">
                <i class="icon ion-android-share-alt"></i>
            </a>
            <div class="share-icons" style="display:none">
                <a href="#" class="share-google">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#" class="share-twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#" class="share-linkedin">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#" class="share-mail">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!--  END Share Btn  -->
    </div>
</div>
<!--  END Page Content, class footer-fixed if footer is fixed  -->

{% endblock body %}